<html>
  <body>
    <h1>Welcome to Artist Page</h1>

    <p>Please enjoy browsing our Artists.</p>

    <ul>
      <% artists.each do |artist| %>
      <li><a href="artists/<%= SiteGenerator.normalize(artist.name) %>.html"><%= artist.name %></a></li>
      <% end %>
    </ul>
  </body>
</html>
