<html>
  <body>
    <h1>Welcome to Genre Page</h1>

    <p>Please enjoy browsing our Genres.</p>

    <ul>
      <% genres.each do |genre| %>
      <li><a href="genres/<%= SiteGenerator.normalize(genre.name) %>.html"><%= "#{genre.name}: "%></a></li>
      <% end %>
    </ul>
  </body>
</html>
